<!DOCTYPE html>
 <html class="no-js">
      <head>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

 <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
 <link rel="stylesheet" href="index.css">
        <title>About page</title>
    </head>
<body>
        <div class="container">
                <div class="row">  
                    <nav class = "navbar nabar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">Snake</a>
                            <a class="nav-link" href="/players">View High Scores</a>
                       <a class="nav-link" href="/about">About</a>
                        <h1 align="center">Snake the Video Game</h1>
    
		<form method="get" action="../player">
			<input name="user" type="text" placeholder="username">
			<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search Scores">
		</form>
                    </nav>
                    </div>
<h1>Rules</h1>
<ul class="list-group list-group-flushed">
    <li class="list-group-item">Don't hit the wall or eat the grey fruit.</li>
    <li class="list-group-item">Do eat the red fruit.</li>
    <li class="list-group-item">Try to get the highest score possible.</li>
    <li class="list-group-item">Use w,a,s,d keys for controling your snake</li>
    </ul>
    <h1>About</h1>
    <p>This is a recreation of snake. <br>It supports a competitive high-score leaderboard where multiple players can compete to see who tops the board.</p>
    <h1>Creators</h1>
    <p>Quinn, Sam, and Kendal!</p>
</div>


<script src="../snake/scoreboard.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
    </html>
